// ======================================== IMPORTS
@import './colors';
@import './shadow';
@import './transition';
@import './isFlex';

// ======================================== Default
#app {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: $color-2;
}

body {
    color: $color-4 !important;
}

.card {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: $shadow-2;
    padding: 1em 1.5em;
}

i {
    margin: 0 6px;
}

// ======================================== Panel
.panel {
    background-image: $gradient-1;
    padding: 40px 1rem 97px 1rem;
    font-size: 21px;
    color: white;

    p {
        margin-bottom: 0;
    }

    .content {
        @include is-flex(center, space-between);
        width: 100%;
    }

    .clock {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        background-color: hsla(0, 0%, 0%, 0.1);
        border-radius: 10px;
        width: 140px;

        i {
            font-size: 26px;
        }
    }

    .dataQuestionLength {
        font-size: 65px;
        line-height: 1.1;

        i {
            font-size: 26px;
        }

        p {
            font-size: 16px;
            opacity: .9;
        }
    }
}


// ======================================== Question
@mixin hoverAnswer {
    background-image: $gradient-1;
    color: white;

    span {
        background-color: $color-3;
        box-shadow: $shadow-5;
    }
}

.correctAnswerClass {
    background-image: $gradient-3 !important;
    color: white !important;

    span {
        background-color: hsla(0, 0%, 0%, 0.2) !important;
        box-shadow: $shadow-5;
    }
}

.pointEventNone {
    pointer-events: none;
}

.cardQuestion {
    position: absolute;
    top: -57px;
}

.question {
    font-size: 21px;
}

.header {
    opacity: .75;

    span {
        opacity: .9;
        font-weight: bold;
    }
}

.answers {
    input[type="radio"]:checked+.answer {
        @include hoverAnswer;
    }
}

.answer {
    @include is-flex(center, left);
    cursor: pointer;
    height: max-content;
    min-width: 70%;
    padding: 13px 15px;
    flex-wrap: nowrap;
    border-radius: 10px;
    transition: $transition-1;
    text-align: left;
    color: $color-4;
    background-color: white;

    p {
        margin: 0;
    }

    span {
        padding: 7px 14px;
        border-radius: 20px;
        background-color: $color-2;
        font-weight: bold;
        opacity: .9;
        font-size: 18px;
    }

    &:hover {
        @include hoverAnswer;
    }
}

.buttonGroup {
    @include is-flex(center, center)
}


// ======================================== Modal
.modalComponent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-image: $gradient-1;

    h1,
    i {
        color: white;
    }

    i {
        font-size: 70px;
    }
}

.start {
    @include is-flex(center, center);
}

.result {
    padding: 40px 1rem;

    .content {
        @include is-flex-column(center, center);
    }
}

.groupComponent {
    width: 100%;
    @include is-flex(center, center);
}

.component {
    @include is-flex(center, center);
    margin-right: .5em;
    background-color: hsla(0, 0%, 0%, 0.2);
    color: white;
    padding: 1em;
    width: 25%;
    border-radius: 10px;
    line-height: 1.1;

    p {
        margin: 0;
        opacity: .9;
    }

    span {
        font-size: 50px;
    }

    i {
        opacity: .8;
        font-size: 55px;
    }
}

.percentage{
    color: white;
    span{
        font-size: 120px;
    }
    p{
        margin: 0;
        width: min-content;
        opacity: .9;
    }
    .simbolPercentage{
        font-size: 50px;
        opacity: .9;
    }
    .value{
        margin-right: .2em;
    }
}

@keyframes scaleIn {
    0% {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
        opacity: 1;
    }
}

.scale-enter-active {
    animation: scaleIn 0.6s ease;
}

.scale-leave-active {
    animation: scaleOut 0.6s ease;
}