@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

body::-webkit-scrollbar {
  width: 17px;
  padding: 20px 0;
  background-color: #CDF7F0;
}

body::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac));
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac);
  cursor: pointer;
  border-radius: .7em;
  border: 5px solid transparent;
  background-clip: padding-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.is-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="grid-"] {
  float: left;
  margin-bottom: 20px;
  padding: 0 1%;
}

.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

.m-0 {
  margin: 0em;
}

.m-1 {
  margin: 0.4em;
}

.m-2 {
  margin: 0.8em;
}

.m-3 {
  margin: 1.2em;
}

.m-4 {
  margin: 1.6em;
}

.m-5 {
  margin: 2em;
}

.m-6 {
  margin: 2.4em;
}

.m-7 {
  margin: 2.8em;
}

.mx-0 {
  margin: 0 0em;
}

.mx-1 {
  margin: 0 0.4em;
}

.mx-2 {
  margin: 0 0.8em;
}

.mx-3 {
  margin: 0 1.2em;
}

.mx-4 {
  margin: 0 1.6em;
}

.mx-5 {
  margin: 0 2em;
}

.mx-6 {
  margin: 0 2.4em;
}

.mx-7 {
  margin: 0 2.8em;
}

.my-0 {
  margin: 0em;
}

.my-1 {
  margin: 0.4em;
}

.my-2 {
  margin: 0.8em;
}

.my-3 {
  margin: 1.2em;
}

.my-4 {
  margin: 1.6em;
}

.my-5 {
  margin: 2em;
}

.my-6 {
  margin: 2.4em;
}

.my-7 {
  margin: 2.8em;
}

.mt-0 {
  margin-top: 0em;
}

.mt-1 {
  margin-top: 0.4em;
}

.mt-2 {
  margin-top: 0.8em;
}

.mt-3 {
  margin-top: 1.2em;
}

.mt-4 {
  margin-top: 1.6em;
}

.mt-5 {
  margin-top: 2em;
}

.mt-6 {
  margin-top: 2.4em;
}

.mt-7 {
  margin-top: 2.8em;
}

.mb-0 {
  margin-bottom: 0em;
}

.mb-1 {
  margin-bottom: 0.4em;
}

.mb-2 {
  margin-bottom: 0.8em;
}

.mb-3 {
  margin-bottom: 1.2em;
}

.mb-4 {
  margin-bottom: 1.6em;
}

.mb-5 {
  margin-bottom: 2em;
}

.mb-6 {
  margin-bottom: 2.4em;
}

.mb-7 {
  margin-bottom: 2.8em;
}

.ml-0 {
  margin-left: 0em;
}

.ml-1 {
  margin-left: 0.4em;
}

.ml-2 {
  margin-left: 0.8em;
}

.ml-3 {
  margin-left: 1.2em;
}

.ml-4 {
  margin-left: 1.6em;
}

.ml-5 {
  margin-left: 2em;
}

.ml-6 {
  margin-left: 2.4em;
}

.ml-7 {
  margin-left: 2.8em;
}

.mr-0 {
  margin-right: 0em;
}

.mr-1 {
  margin-right: 0.4em;
}

.mr-2 {
  margin-right: 0.8em;
}

.mr-3 {
  margin-right: 1.2em;
}

.mr-4 {
  margin-right: 1.6em;
}

.mr-5 {
  margin-right: 2em;
}

.mr-6 {
  margin-right: 2.4em;
}

.mr-7 {
  margin-right: 2.8em;
}

.p-0 {
  padding: 0em;
}

.p-1 {
  padding: 0.4em;
}

.p-2 {
  padding: 0.8em;
}

.p-3 {
  padding: 1.2em;
}

.p-4 {
  padding: 1.6em;
}

.p-5 {
  padding: 2em;
}

.p-6 {
  padding: 2.4em;
}

.p-7 {
  padding: 2.8em;
}

.px-0 {
  padding: 0 0em;
}

.px-1 {
  padding: 0 0.4em;
}

.px-2 {
  padding: 0 0.8em;
}

.px-3 {
  padding: 0 1.2em;
}

.px-4 {
  padding: 0 1.6em;
}

.px-5 {
  padding: 0 2em;
}

.px-6 {
  padding: 0 2.4em;
}

.px-7 {
  padding: 0 2.8em;
}

.py-0 {
  padding: 0em;
}

.py-1 {
  padding: 0.4em;
}

.py-2 {
  padding: 0.8em;
}

.py-3 {
  padding: 1.2em;
}

.py-4 {
  padding: 1.6em;
}

.py-5 {
  padding: 2em;
}

.py-6 {
  padding: 2.4em;
}

.py-7 {
  padding: 2.8em;
}

.pt-0 {
  padding-top: 0em;
}

.pt-1 {
  padding-top: 0.4em;
}

.pt-2 {
  padding-top: 0.8em;
}

.pt-3 {
  padding-top: 1.2em;
}

.pt-4 {
  padding-top: 1.6em;
}

.pt-5 {
  padding-top: 2em;
}

.pt-6 {
  padding-top: 2.4em;
}

.pt-7 {
  padding-top: 2.8em;
}

.pb-0 {
  padding-bottom: 0em;
}

.pb-1 {
  padding-bottom: 0.4em;
}

.pb-2 {
  padding-bottom: 0.8em;
}

.pb-3 {
  padding-bottom: 1.2em;
}

.pb-4 {
  padding-bottom: 1.6em;
}

.pb-5 {
  padding-bottom: 2em;
}

.pb-6 {
  padding-bottom: 2.4em;
}

.pb-7 {
  padding-bottom: 2.8em;
}

.pl-0 {
  padding-left: 0em;
}

.pl-1 {
  padding-left: 0.4em;
}

.pl-2 {
  padding-left: 0.8em;
}

.pl-3 {
  padding-left: 1.2em;
}

.pl-4 {
  padding-left: 1.6em;
}

.pl-5 {
  padding-left: 2em;
}

.pl-6 {
  padding-left: 2.4em;
}

.pl-7 {
  padding-left: 2.8em;
}

.pr-0 {
  padding-right: 0em;
}

.pr-1 {
  padding-right: 0.4em;
}

.pr-2 {
  padding-right: 0.8em;
}

.pr-3 {
  padding-right: 1.2em;
}

.pr-4 {
  padding-right: 1.6em;
}

.pr-5 {
  padding-right: 2em;
}

.pr-6 {
  padding-right: 2.4em;
}

.pr-7 {
  padding-right: 2.8em;
}

.btn {
  height: 47px;
  padding: 0 1.7em;
  cursor: pointer;
  font-size: 14px;
  border: none !important;
  border-radius: 10px;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
  color: #fff;
}

.btn i {
  color: white !important;
}

.primaryBtn {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac));
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac);
}

.primaryBtn:hover {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac)) !important;
  background-image: linear-gradient(to left bottom, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac) !important;
}

.secondaryBtn {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#36f35f), to(#10c437));
  background-image: linear-gradient(to right top, #36f35f, #10c437);
  padding: 0 2.5em !important;
}

.secondaryBtn:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#36f35f), to(#10c437)) !important;
  background-image: linear-gradient(to right bottom, #36f35f, #10c437) !important;
}

.btn-outline-primary {
  -o-border-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac) !important;
     border-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac)) !important;
     border-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac) !important;
  border-image-slice: 1 !important;
}

.btn-outline-primary:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac)) !important;
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac) !important;
}

.btn-up:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-up:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn-up:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  outline: none;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.is-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3em;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  margin-top: 6%;
}

footer span {
  color: white;
}

footer span {
  margin-left: .4em;
}

footer a {
  text-decoration: underline;
}

footer p {
  margin-bottom: 1.2em;
}

footer .footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.is-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #CDF7F0;
}

body {
  color: #3D5170 !important;
}

.card {
  border: none !important;
  border-radius: 10px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 1em 1.5em;
}

i {
  margin: 0 6px;
}

.panel {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac));
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac);
  padding: 40px 1rem 97px 1rem;
  font-size: 21px;
  color: white;
}

.panel p {
  margin-bottom: 0;
}

.panel .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.panel .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 140px;
}

.panel .clock i {
  font-size: 26px;
}

.panel .dataQuestionLength {
  font-size: 65px;
  line-height: 1.1;
}

.panel .dataQuestionLength i {
  font-size: 26px;
}

.panel .dataQuestionLength p {
  font-size: 16px;
  opacity: .9;
}

.correctAnswerClass {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#36f35f), to(#10c437)) !important;
  background-image: linear-gradient(to right top, #36f35f, #10c437) !important;
  color: white !important;
}

.correctAnswerClass span {
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
          box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.pointEventNone {
  pointer-events: none;
}

.cardQuestion {
  position: absolute;
  top: -57px;
}

.question {
  font-size: 21px;
}

.header {
  opacity: .75;
}

.header span {
  opacity: .9;
  font-weight: bold;
}

.answers input[type="radio"]:checked + .answer {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac));
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac);
  color: white;
}

.answers input[type="radio"]:checked + .answer span {
  background-color: #01C6CA;
  -webkit-box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
          box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 70%;
  padding: 13px 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 10px;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  text-align: left;
  color: #3D5170;
  background-color: white;
}

.answer p {
  margin: 0;
}

.answer span {
  padding: 7px 14px;
  border-radius: 20px;
  background-color: #CDF7F0;
  font-weight: bold;
  opacity: .9;
  font-size: 18px;
}

.answer:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac));
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac);
  color: white;
}

.answer:hover span {
  background-color: #01C6CA;
  -webkit-box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
          box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
}

.buttonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modalComponent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#43ced1), color-stop(#39c5c8), color-stop(#2ebbbe), color-stop(#22b2b5), to(#11a9ac));
  background-image: linear-gradient(to left top, #43ced1, #39c5c8, #2ebbbe, #22b2b5, #11a9ac);
}

.modalComponent h1,
.modalComponent i {
  color: white;
}

.modalComponent i {
  font-size: 70px;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result {
  padding: 40px 1rem;
}

.result .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.groupComponent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: .5em;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1em;
  width: 25%;
  border-radius: 10px;
  line-height: 1.1;
}

.component p {
  margin: 0;
  opacity: .9;
}

.component span {
  font-size: 50px;
}

.component i {
  opacity: .8;
  font-size: 55px;
}

.percentage {
  color: white;
}

.percentage span {
  font-size: 120px;
}

.percentage p {
  margin: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  opacity: .9;
}

.percentage .simbolPercentage {
  font-size: 50px;
  opacity: .9;
}

.percentage .value {
  margin-right: .2em;
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes scaleOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 1;
  }
}

@keyframes scaleOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 1;
  }
}

.scale-enter-active {
  -webkit-animation: scaleIn 0.6s ease;
          animation: scaleIn 0.6s ease;
}

.scale-leave-active {
  -webkit-animation: scaleOut 0.6s ease;
          animation: scaleOut 0.6s ease;
}
/*# sourceMappingURL=mainUseful.css.map */