// ======================================== [IMPORTS]
@import '../_shadow.scss';
@import '../_colors.scss';
@import '../_transition.scss';

// ======================================== [BUTTONS]
.btn {
    height: 47px;
    padding: 0 1.7em;
    cursor: pointer;
    font-size: 14px;
    border: none !important;
    border-radius: 10px;
    transition: $transition-1;
    background-color: hsl(0, 0%, 100%);
    box-shadow: $shadow-2 !important;
    color: #fff;

    i {
        color: hsl(0, 0%, 100%) !important;
    }
}

.primaryBtn {
    background-image: $gradient-1;

    &:hover {
        background-image: $gradient-2 !important;
    }
}
.secondaryBtn {
    background-image: $gradient-3;
    padding: 0 2.5em !important;

    &:hover {
        background-image: $gradient-4 !important;
    }
}

.btn-outline-primary {
    border-image: $gradient-1 !important;
    border-image-slice: 1 !important;

    &:hover {
        background-image: $gradient-1 !important;
    }
}

// ========== [TO UP]
.btn-up {

    &:hover {
        box-shadow: $shadow-1;
        transform: scale(1.1);

        i {
            transform: scale(1.2);
        }
    }

    &:active {
        transform: scale(0.99);
        outline: none;
    }
}